<% include ../partials/header.ejs %>

<div class="table">
  <div id="pax-pods" class="flex-container"></div>
  <div id="brand-list" class="flex-container"></div>
</div>

<% include ../partials/footer.ejs %>