html, body, .super-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.menu-option {
  border-radius: 10px;
  width: 115px;
  box-shadow: 0 1px 1px 1px rgba(30, 100, 30, 10);
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  color: #ccc;
  font-size: 1.5em;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.menu-option:active {
  box-shadow: 0px -1px 0px 1px rgba(30, 100, 30, 10);
}

.container {
  font-size: 1.2em;
}

.price-total {
  margin-left: 50px;
  margin-top: 10px;
}

.super-container {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100%;
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header {
  border: 1px solid black;
  font-size: 1.4em;
  font-weight: bolder;
  padding: 5px;
  border-radius: 5px;
}

#brand-list {
  margin: 5vh 50px 0 50px;
  min-width: 1800px;
  overflow-x: scroll;
  justify-content: space-around;
}

#pad-pods {
  margin: 5vh 50px 0 50px;
  min-width: 1800px;
  overflow-x: scroll;
  justify-content: flex-start;
}

.main-body {
  flex: 4 1 auto;
  max-width: 85vw;
  width: 1664px;
  overflow: auto;
}

.menu {
  justify-content: flex-start;
  width: 256px;
  height: 100%;
  transform: translate(0px, 0px);
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  flex: 1 4 256px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px -10px 10px, rgba(0, 0, 0, 0.43) 0px -10px 10px;
}

.customer-list-item {
  margin: 5px 15px;
  box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.15),
  2px 2px 3px rgba(0, 0, 0, 1.15);
}

.view-type-option {
  border-radius: 15px;
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.menu-hover:hover:not(.selected) {
  background-color: #ffc;
}

.menu-hover.selected:hover {
  background-color: #aca;
}

.selected {
  background-color: #cec;
}

.customer-title {
  font-size: 1.1em;
  font-weight: bold;
}

.customer-list-header {
  /* text-align: center; */
}

#pax-pods .flex-container {
  justify-content: flex-start;
}

#pax-pods .header {
  width: 85px;
  height: 30px;
  text-align: center;
  margin: 15px;
}

.product-details {
  cursor: pointer;
  margin: 5px 5px;
  border-bottom: 1px solid #CCC;
}

.list-item {
  margin: 5px 0;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
}

.list-item:hover {
  background-color: #EEC;
  transition-property: background-color;
  transition-duration: 400ms;
}

.values-list {
  font-size: 1em;
}

.toggles {
  margin-top: 100px;
}

.totals {
  margin-right: 15px;
}

.center {
  text-align: center;
  align-items: center;
}

.values-list .flex-container {
  width: 150px;
}

.bordered {
  border: 1px solid #ccc;
}

.item-container-sample {
  border-bottom: 1px solid black;
}

.item-list-item {
  margin: 2px;
  padding: 5px;
}

.list-item:active {
  background-color: #CCF;
}

.quantity-totals {
  position: relative;
  top: 15px;
}

.brand-list-item {
  width: 365px;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 6px 1px grey;
  border-radius: 5px;
}

#by-product {
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(6, 40px);
  height: 300px;
  grid-auto-columns: 200px;
}

.value-item {
  margin-right: 10px;
  border-right: solid black 3px;
  padding-right: 5px;
}

.totals label {
  margin-top: 10px;
}

/* .subgrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 10vw);
  grid-template-rows: repeat(5, 10vh);
  margin-right: 10px;
  box-shadow:
    0px -2px 1px rgba(0, 0, 0, 0.2),
    0px -2px 1px rgba(0, 0, 0, 0.45);
  height: 160px;
} */
.menu-hover-alt {
  border-radius: 15px;
  border: solid 1px black;
  padding: 6px;
  margin: 8px;
  position: relative;
  text-align: center;
  box-shadow: 0px 7px 3px rgba(40,40,40,0.75);
}

.menu-hover-alt:active {
  top: 2px;
  box-shadow: inset 0px 4px 3px #555;
  border-top: 2px solid black;
}

.menu-hover-alt:hover:not(.selected-alt) {
  background-color: #ffa;
}

.selected-alt:hover {
  background-color: #0150c0;
}

.selected-alt {
  background-color: #18f;
  color: white;
  box-shadow:
    inset 1px 2px 3px #333,
    0 5px 3px #666;
}

.grid .value-item, .grid .label-item {
  border-bottom: solid 1px black;
}

.vertical {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.values-details {
  width: 200px !important;
}

.left {
  flex: 1 1 50%;
  text-align: right;
}

.right {
  flex: 1 2 50%;
  text-align: left;
  padding-left: 5px;
}

h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 2px;
}

.big-row-item {
  margin: 2px;
  border-bottom: 1px solid black;
}

.sku-container {
  margin: 10px;
}

.sales-by-product .flex-container {
  justify-content: flex-start;
}

.space-bottom {
  margin-bottom: 15px;
}
