.container {
  font-size: 1.2em;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.brand-header {
  border: 1px solid black;
  font-size: 1.4em;
  font-weight: bolder;
  padding: 5px;
  border-radius: 5px;
}

#brand-list, #pax-pods {
  margin: 5vh 50px 0 50px;
  width: 1800px;
  overflow-x: scroll;
  justify-content: space-around;
}

.category-list-item {
  margin: 5px 0;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
}

.category-list-item:hover {
  background-color: #EEC;
  transition-property: background-color;
  transition-duration: 400ms;
}

.values-list {
  font-size: 0.8em;
}

.values-list .flex-container {
  width: 200px;
}

.item-container-sample {
  border-bottom: 1px solid black;
}

.item-list-item {
  margin: 2px;
  padding: 5px;
}

.category-list-item:active {
  background-color: #CCF;
}

.brand-list-item {
  width: 365px;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 6px 1px grey;
  border-radius: 5px;
}

.vertical {
  flex-direction: column;
}

.hidden {
  display: none !important;
}